.all_products {
  background-color: #f5f5f5;
  padding-top: 155px;
  overflow: hidden;
}

.all_products:before, .all_products:after {
  content: "";
  position: absolute;
  z-index: 0;
  pointer-events: none;
}

.all_products:before {
  top: 964px;
  left: -70px;
  width: 339px;
  height: 252px;
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
  background: url("../img/form_bg.png") no-repeat center/contain;
}

.all_products:after {
  top: 70px;
  left: 439px;
  width: 266px;
  height: 259px;
  -webkit-transform: rotate(-110deg);
          transform: rotate(-110deg);
  background: url("../img/form_bg_blur.png") no-repeat center/contain;
}

.all_products .pagination {
  margin-top: 15px;
  margin-bottom: 170px;
}

.product_title_box {
  padding-bottom: 100px;
}

.product_title_box .above_title {
  color: #242424;
  text-align: center;
}

.product_title_box .title_h2 {
  color: #242424;
  text-align: center;
  text-transform: uppercase;
}

.product_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

@media all and (max-width: 1025px) {
  .product_container:after {
    content: "";
    -webkit-box-flex: 1;
        -ms-flex: 1 1 33%;
            flex: 1 1 33%;
    margin-left: 20px;
  }
}

.product_container .product_inner {
  background-color: #fff;
  margin-bottom: 84px;
}

@media all and (max-width: 1400px) {
  .product_container .product_inner {
    margin-bottom: 50px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 29%;
            flex: 1 1 29%;
  }
  .product_container .product_inner + .product_inner {
    margin-left: 20px;
  }
  .product_container .product_inner:nth-child(3n + 1) {
    margin-left: 0;
  }
}

@media all and (max-width: 1025px) {
  .product_container .product_inner {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 33%;
            flex: 1 1 33%;
    margin-bottom: 20px;
  }
  .product_container .product_inner:nth-child(3n + 1) {
    margin-left: 20px;
  }
}

@media all and (max-width: 767px) {
  .product_container .product_inner {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .product_container .product_inner:nth-child(3n + 1) {
    margin-left: 0;
  }
  .product_container .product_inner + .product_inner {
    margin-left: 0;
  }
}

.product_container .name_box {
  border: 1px solid #707070;
  background-color: #242424;
  padding: 16px;
}

.filter_wrap {
  width: 340px;
  margin-top: 185px;
}

@media all and (max-width: 1400px) {
  .filter_wrap {
    width: 100%;
  }
}

.filter_wrap .line {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #eaeaea;
}

.filter_wrap .line .top_line {
  cursor: pointer;
  color: #000000;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 500;
}

.filter_wrap .line .top_line:after {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background: url("../img/plus_icon.svg") no-repeat center/contain;
}

.filter_wrap .line .inner {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height 180ms;
  transition: max-height 180ms;
}

.filter_wrap .line .inner a {
  display: block;
  color: #000000;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 500;
}

.filter_wrap .line .inner a + a {
  margin-top: 37px;
}

.filter_wrap .line .inner a:first-child {
  margin-top: 50px;
}

.filter_wrap .line .inner a:last-child {
  margin-bottom: 10px;
}

.filter_wrap .line.active .top_line {
  font-weight: 700;
}

.filter_wrap .line.active .top_line:after {
  background: url("../img/minus_icon.svg") no-repeat center/contain;
}

.filter_wrap .line.active .inner {
  -webkit-transition: max-height 180ms;
  transition: max-height 180ms;
  max-height: 500px;
}
/*# sourceMappingURL=catalog.css.map */