.buy_products {
  background-color: #f5f5f5;
}

.main_picture {
  padding-bottom: 20px;
}

.small_picture {
  display: flex;
  justify-content: space-between;
}

.box_info {
  padding: 70px;

  .tm {
    display: flex;
    justify-content: space-between;
    padding-bottom: 11px;

    p {
      opacity: 0.8;
      color: #242424;
      font-family: "Roboto", sans-serif;
      font-size: 20px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      text-align: left;
      text-transform: uppercase;
    }
  }

  .name_product {
    h3 {
      color: #242424;
      font-family: "Roboto", sans-serif;
      font-size: 30px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      text-align: left;
    }
  }

  .line {
    width: 100%;
    border: 2px solid #000000;
    background-color: #000000;
  }

  .info_text {
    padding: 50px 0 50px 0;

    p {
      text-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
      color: #242424;
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      letter-spacing: normal;
      line-height: 29px;
      text-align: left;
    }
  }

  .explain {
    p {
      color: #242424;
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      font-weight: 600;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      text-align: left;
      padding-bottom: 20px;
    }
  }

  .explain_degrees {
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;

    .wrap {
      > p {
        color: rgba(36, 36, 36, 0.3);
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 300;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
      }

      .inner {
        border-radius: 5px;
        border: 1px solid rgba(36, 36, 36, 0.3);

        p {
          color: #242424;
          font-family: "Roboto", sans-serif;
          font-size: 20px;
          font-weight: 400;
          font-style: normal;
          letter-spacing: normal;
          line-height: normal;
          text-align: right;
          padding: 10px 30px;
        }

        img {
          position: absolute;
          top: 3px;
          right: 15px;
        }
      }
    }
  }
}

.also_buy {
  padding: 130px 0 130px;
  background-color: #f5f5f5;
}

.buy_container {
  display: flex;
  flex-direction: column;
}

.buy_title {
  padding-bottom: 70px;

  .above_title {
    color: #242424;
    text-align: center;
    padding-bottom: 11px;
  }

  .title_h2 {
    color: #242424;
    text-align: center;
    text-transform: uppercase;
  }
}

.product_wrap {
  display: flex;
  justify-content: space-between;

  .product_inner {
    background-color: #ffffff;
  }

  .name_box {
    border: 1px solid #707070;
    background-color: #242424;
    margin-top: 10px;
    padding: 16px;
  }
}

.main_name {
  padding-bottom: 5px;
}

.name_text {
  opacity: 0.8;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
}

.volume_box {
  display: flex;
  justify-content: space-between;

  p {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
  }

  .exol {
    &::after {
      content: "";
      border: 1px solid #ffffff;
      height: 100%;
      width: 1px;
      margin-left: 110px;
    }
  }
}

.product_btn {
  text-align: center;
  padding-top: 130px;
}

.about_our_work {
  background-color: #242424;
  padding-top: 130px;
  padding-bottom: 240px;
}

.img_container {
  display: flex;
  justify-content: space-between;

  .link {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
  }
}

.wrap_text {
  padding-bottom: 140px;

  .above_title {
    color: #ffffff;
    padding-bottom: 11px;
  }

  .title_h2 {
    color: #ffffff;
    text-transform: uppercase;
  }
}

.inner_text {
  .box {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .date {
      color: #242424;
      font-family: "Montserrat", sans-serif;
      font-size: 15px;
      font-weight: 300;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      text-align: left;
    }

    .title {
      color: #242424;
      font-family: "Roboto", sans-serif;
      font-size: 20px;
      font-weight: 500;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      text-align: left;
    }
  }

  .box_arrow {
    display: flex;
    align-items: center;

    .text {
      color: #242424;
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: 35px;
      text-align: center;
      margin-right: 15px;
    }
  }
}
