@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular/OpenSans-Regular?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular/OpenSans-Regular.svg#Plumb-Black") format("svg"), url("../fonts/OpenSans-Regular/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans-Regular/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

body {
  margin: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-font-smoothing: antialiased !important;
  background-color: #fff;
  color: #413e6f;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 500;
}

img {
  border: 0;
  max-width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

pre {
  overflow: auto;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
  background-color: transparent;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  position: relative;
}

html,
body,
main {
  min-height: 100vh;
}

main {
  display: block;
  height: auto;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

textarea:focus,
input:focus {
  outline: 0;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
li {
  cursor: default;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

a p,
a span,
a h1,
a h2,
a h3,
a h4,
a h5,
a h6 {
  cursor: pointer;
}

.clear {
  clear: both;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
}

[class*="col_"] {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  min-height: 1px;
  -ms-flex-positive: 0;
      flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  padding-left: 16px;
  padding-right: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col_1 {
  min-width: 8.33333%;
  max-width: 8.33333%;
  -ms-flex-preferred-size: 8.33333%;
      flex-basis: 8.33333%;
}

.col_2 {
  min-width: 16.66667%;
  max-width: 16.66667%;
  -ms-flex-preferred-size: 16.66667%;
      flex-basis: 16.66667%;
}

.col_3 {
  min-width: 25%;
  max-width: 25%;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.col_4 {
  min-width: 33.33333%;
  max-width: 33.33333%;
  -ms-flex-preferred-size: 33.33333%;
      flex-basis: 33.33333%;
}

.col_5 {
  min-width: 41.66667%;
  max-width: 41.66667%;
  -ms-flex-preferred-size: 41.66667%;
      flex-basis: 41.66667%;
}

.col_6 {
  min-width: 50%;
  max-width: 50%;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.col_7 {
  min-width: 58.33333%;
  max-width: 58.33333%;
  -ms-flex-preferred-size: 58.33333%;
      flex-basis: 58.33333%;
}

.col_8 {
  min-width: 66.66667%;
  max-width: 66.66667%;
  -ms-flex-preferred-size: 66.66667%;
      flex-basis: 66.66667%;
}

.col_9 {
  min-width: 75%;
  max-width: 75%;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
}

.col_10 {
  min-width: 83.33333%;
  max-width: 83.33333%;
  -ms-flex-preferred-size: 83.33333%;
      flex-basis: 83.33333%;
}

.col_11 {
  min-width: 91.66667%;
  max-width: 91.66667%;
  -ms-flex-preferred-size: 91.66667%;
      flex-basis: 91.66667%;
}

.col_12 {
  min-width: 100%;
  max-width: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media (max-width: 767px) {
  .s_hide {
    display: none !important;
  }
  .s_show {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .s_show_b {
    display: block !important;
  }
  .col_s_auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    min-width: 0;
    max-width: 100%;
  }
  .col_s {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    max-width: 100%;
    min-width: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
  }
  .s_offset_1 {
    margin-left: calc((1 * (100% / 12)));
  }
  .s_offset_2 {
    margin-left: calc((2 * (100% / 12)));
  }
  .s_offset_3 {
    margin-left: calc((3 * (100% / 12)));
  }
  .s_offset_4 {
    margin-left: calc((4 * (100% / 12)));
  }
  .s_offset_5 {
    margin-left: calc((5 * (100% / 12)));
  }
  .s_offset_6 {
    margin-left: calc((6 * (100% / 12)));
  }
  .s_offset_7 {
    margin-left: calc((7 * (100% / 12)));
  }
  .s_offset_8 {
    margin-left: calc((8 * (100% / 12)));
  }
  .s_offset_9 {
    margin-left: calc((9 * (100% / 12)));
  }
  .s_offset_10 {
    margin-left: calc((10 * (100% / 12)));
  }
  .s_offset_11 {
    margin-left: calc((11 * (100% / 12)));
  }
  .s_offset_12 {
    margin-left: calc((12 * (100% / 12)));
  }
  .col_s_1 {
    min-width: 8.33333%;
    max-width: 8.33333%;
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
  }
  .col_s_2 {
    min-width: 16.66667%;
    max-width: 16.66667%;
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
  }
  .col_s_3 {
    min-width: 25%;
    max-width: 25%;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .col_s_4 {
    min-width: 33.33333%;
    max-width: 33.33333%;
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
  }
  .col_s_5 {
    min-width: 41.66667%;
    max-width: 41.66667%;
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
  }
  .col_s_6 {
    min-width: 50%;
    max-width: 50%;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .col_s_7 {
    min-width: 58.33333%;
    max-width: 58.33333%;
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
  }
  .col_s_8 {
    min-width: 66.66667%;
    max-width: 66.66667%;
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
  }
  .col_s_9 {
    min-width: 75%;
    max-width: 75%;
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
  }
  .col_s_10 {
    min-width: 83.33333%;
    max-width: 83.33333%;
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
  }
  .col_s_11 {
    min-width: 91.66667%;
    max-width: 91.66667%;
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
  }
  .col_s_12 {
    min-width: 100%;
    max-width: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .m_hide {
    display: none !important;
  }
  .m_show {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .m_show_b {
    display: block !important;
  }
  .col_m_auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    min-width: 0;
    max-width: 100%;
  }
  .col_m {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    max-width: 100%;
    min-width: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
  }
  .m_offset_1 {
    margin-left: calc((1 * (100% / 12)));
  }
  .m_offset_2 {
    margin-left: calc((2 * (100% / 12)));
  }
  .m_offset_3 {
    margin-left: calc((3 * (100% / 12)));
  }
  .m_offset_4 {
    margin-left: calc((4 * (100% / 12)));
  }
  .m_offset_5 {
    margin-left: calc((5 * (100% / 12)));
  }
  .m_offset_6 {
    margin-left: calc((6 * (100% / 12)));
  }
  .m_offset_7 {
    margin-left: calc((7 * (100% / 12)));
  }
  .m_offset_8 {
    margin-left: calc((8 * (100% / 12)));
  }
  .m_offset_9 {
    margin-left: calc((9 * (100% / 12)));
  }
  .m_offset_10 {
    margin-left: calc((10 * (100% / 12)));
  }
  .m_offset_11 {
    margin-left: calc((11 * (100% / 12)));
  }
  .m_offset_12 {
    margin-left: calc((12 * (100% / 12)));
  }
  .col_m_1 {
    min-width: 8.33333%;
    max-width: 8.33333%;
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
  }
  .col_m_2 {
    min-width: 16.66667%;
    max-width: 16.66667%;
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
  }
  .col_m_3 {
    min-width: 25%;
    max-width: 25%;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .col_m_4 {
    min-width: 33.33333%;
    max-width: 33.33333%;
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
  }
  .col_m_5 {
    min-width: 41.66667%;
    max-width: 41.66667%;
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
  }
  .col_m_6 {
    min-width: 50%;
    max-width: 50%;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .col_m_7 {
    min-width: 58.33333%;
    max-width: 58.33333%;
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
  }
  .col_m_8 {
    min-width: 66.66667%;
    max-width: 66.66667%;
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
  }
  .col_m_9 {
    min-width: 75%;
    max-width: 75%;
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
  }
  .col_m_10 {
    min-width: 83.33333%;
    max-width: 83.33333%;
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
  }
  .col_m_11 {
    min-width: 91.66667%;
    max-width: 91.66667%;
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
  }
  .col_m_12 {
    min-width: 100%;
    max-width: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (min-width: 1001px) and (max-width: 1025px) {
  .l_hide {
    display: none !important;
  }
  .l_show {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .l_show_b {
    display: block !important;
  }
  .col_l_auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    min-width: 0;
    max-width: 100%;
  }
  .col_l {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    max-width: 100%;
    min-width: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
  }
  .l_offset_1 {
    margin-left: calc((1 * (100% / 12)));
  }
  .l_offset_2 {
    margin-left: calc((2 * (100% / 12)));
  }
  .l_offset_3 {
    margin-left: calc((3 * (100% / 12)));
  }
  .l_offset_4 {
    margin-left: calc((4 * (100% / 12)));
  }
  .l_offset_5 {
    margin-left: calc((5 * (100% / 12)));
  }
  .l_offset_6 {
    margin-left: calc((6 * (100% / 12)));
  }
  .l_offset_7 {
    margin-left: calc((7 * (100% / 12)));
  }
  .l_offset_8 {
    margin-left: calc((8 * (100% / 12)));
  }
  .l_offset_9 {
    margin-left: calc((9 * (100% / 12)));
  }
  .l_offset_10 {
    margin-left: calc((10 * (100% / 12)));
  }
  .l_offset_11 {
    margin-left: calc((11 * (100% / 12)));
  }
  .l_offset_12 {
    margin-left: calc((12 * (100% / 12)));
  }
  .col_l_1 {
    min-width: 8.33333%;
    max-width: 8.33333%;
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
  }
  .col_l_2 {
    min-width: 16.66667%;
    max-width: 16.66667%;
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
  }
  .col_l_3 {
    min-width: 25%;
    max-width: 25%;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .col_l_4 {
    min-width: 33.33333%;
    max-width: 33.33333%;
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
  }
  .col_l_5 {
    min-width: 41.66667%;
    max-width: 41.66667%;
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
  }
  .col_l_6 {
    min-width: 50%;
    max-width: 50%;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .col_l_7 {
    min-width: 58.33333%;
    max-width: 58.33333%;
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
  }
  .col_l_8 {
    min-width: 66.66667%;
    max-width: 66.66667%;
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
  }
  .col_l_9 {
    min-width: 75%;
    max-width: 75%;
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
  }
  .col_l_10 {
    min-width: 83.33333%;
    max-width: 83.33333%;
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
  }
  .col_l_11 {
    min-width: 91.66667%;
    max-width: 91.66667%;
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
  }
  .col_l_12 {
    min-width: 100%;
    max-width: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (min-width: 1025px) {
  .xl_hide {
    display: none !important;
  }
  .xl_show {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .xl_show_b {
    display: block !important;
  }
  .col_xl_auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    min-width: 0;
    max-width: 100%;
  }
  .col_xl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    max-width: 100%;
    min-width: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
  }
  .xl_offset_1 {
    margin-left: calc((1 * (100% / 12)));
  }
  .xl_offset_2 {
    margin-left: calc((2 * (100% / 12)));
  }
  .xl_offset_3 {
    margin-left: calc((3 * (100% / 12)));
  }
  .xl_offset_4 {
    margin-left: calc((4 * (100% / 12)));
  }
  .xl_offset_5 {
    margin-left: calc((5 * (100% / 12)));
  }
  .xl_offset_6 {
    margin-left: calc((6 * (100% / 12)));
  }
  .xl_offset_7 {
    margin-left: calc((7 * (100% / 12)));
  }
  .xl_offset_8 {
    margin-left: calc((8 * (100% / 12)));
  }
  .xl_offset_9 {
    margin-left: calc((9 * (100% / 12)));
  }
  .xl_offset_10 {
    margin-left: calc((10 * (100% / 12)));
  }
  .xl_offset_11 {
    margin-left: calc((11 * (100% / 12)));
  }
  .xl_offset_12 {
    margin-left: calc((12 * (100% / 12)));
  }
  .col_xl_1 {
    min-width: 8.33333%;
    max-width: 8.33333%;
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
  }
  .col_xl_2 {
    min-width: 16.66667%;
    max-width: 16.66667%;
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
  }
  .col_xl_3 {
    min-width: 25%;
    max-width: 25%;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .col_xl_4 {
    min-width: 33.33333%;
    max-width: 33.33333%;
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
  }
  .col_xl_5 {
    min-width: 41.66667%;
    max-width: 41.66667%;
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
  }
  .col_xl_6 {
    min-width: 50%;
    max-width: 50%;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .col_xl_7 {
    min-width: 58.33333%;
    max-width: 58.33333%;
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
  }
  .col_xl_8 {
    min-width: 66.66667%;
    max-width: 66.66667%;
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
  }
  .col_xl_9 {
    min-width: 75%;
    max-width: 75%;
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
  }
  .col_xl_10 {
    min-width: 83.33333%;
    max-width: 83.33333%;
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
  }
  .col_xl_11 {
    min-width: 91.66667%;
    max-width: 91.66667%;
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
  }
  .col_xl_12 {
    min-width: 100%;
    max-width: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.df.s_betwen {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.df.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hover_op {
  -webkit-transition: opacity 180ms;
  transition: opacity 180ms;
  opacity: 1;
}

.hover_op:hover {
  -webkit-transition: opacity 180ms;
  transition: opacity 180ms;
  opacity: 0.5;
}

@media all and (max-width: 1020px) {
  .hover_op:hover {
    opacity: 1;
  }
}

.btn {
  width: 276px;
  height: 50px;
  border-radius: 25px;
  border: 2px solid #ff3233;
  background-color: #ffffff;
  color: #242424;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 35px;
  text-align: center;
}

.btn_inner {
  display: inline-block;
  position: relative;
}

.btn_inner .btn_arrow {
  position: absolute;
  right: 32px;
  top: 18px;
}

.above_title {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.above_title::before {
  content: "";
  height: 95%;
  width: 2px;
  border: 1px solid #f2312a;
  background-color: #f2312a;
  margin-right: 5px;
}

.title_h2 {
  font-family: "Roboto", sans-serif;
  font-size: 45px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body.no_scroll {
  overflow: hidden;
}

.container {
  max-width: 1640px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.img_wrap {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  overflow: hidden;
}

.img_wrap img {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: auto;
}

.forms {
  padding-top: 70px;
  padding-bottom: 70px;
}

.form_text .above_text {
  color: #242424;
  text-align: left;
  padding-bottom: 11px;
}

.form_text .title_h2 {
  color: #242424;
  text-align: left;
  padding-bottom: 34px;
}

.form_text .text {
  max-width: 464px;
  color: #242424;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
}

.form_btn {
  margin-top: 60px;
}

.form_btn .btn_inner {
  float: right;
}

.form_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
}

.form_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form_inner input {
  width: 250px;
}

.form_inner textarea {
  width: 510px;
  min-height: 115px;
}

.form_inner input,
.form_inner textarea {
  height: 50px;
  border-radius: 5px;
  border: 1px solid #242424;
  background-color: #ffffff;
  opacity: 0.3;
  margin-top: 10px;
}

.form_inner label {
  color: #242424;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer {
  background-color: #242424;
}

.footer_line {
  background-color: #282828;
}

.footer_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 70px;
  padding-bottom: 56px;
}

.footer_top_link ul li {
  list-style: none;
}

.footer_top_link ul li:not(:last-child) {
  padding-bottom: 24px;
}

.footer_top_link ul li span:not(:last-child) {
  padding-right: 15px;
}

.footer_top_link ul li h3 {
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 75px;
  text-align: left;
}

.footer_top_nav ul li a {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  cursor: pointer;
}

.footer_top_contacts ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_top_contacts ul li a {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
}

.footer_top_text p {
  max-width: 276px;
  padding-bottom: 92px;
  padding-top: 15px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
}

.footer_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 56px;
  padding-bottom: 56px;
}

.socials a:not(:last-child) {
  padding-right: 20px;
}

.footer_bottom_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_bottom_text span {
  padding-right: 15px;
}

.footer_bottom_text .text-smaller {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
}

.footer_bottom_text .text_bigger {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
}
/*# sourceMappingURL=styles.css.map */