@import "basic.scss";
@import "grid";

.df {
  display: flex;
  align-items: center;

  &.s_betwen {
    justify-content: space-between;
  }

  &.center {
    justify-content: center;
  }
}

.hover_op {
  transition: opacity 180ms;
  opacity: 1;

  &:hover {
    transition: opacity 180ms;
    opacity: 0.5;

    @media all and (max-width: 1020px) {
      opacity: 1;
    }
  }
}

.btn {
  width: 276px;
  height: 50px;
  border-radius: 25px;
  border: 2px solid #ff3233;
  background-color: #ffffff;
  color: #242424;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 35px;
  text-align: center;
}

.btn_inner {
  display: inline-block;
  position: relative;

  .btn_arrow {
    position: absolute;
    right: 32px;
    top: 18px;
  }
}

.above_title {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;

  &::before {
    content: "";
    height: 95%;
    width: 2px;
    border: 1px solid #f2312a;
    background-color: #f2312a;
    margin-right: 5px;
  }
}

.title_h2 {
  font-family: "Roboto", sans-serif;
  font-size: 45px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

body {
  display: flex;
  flex-direction: column;

  &.no_scroll {
    overflow: hidden;
  }
}

.container {
  max-width: 1640px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.img_wrap {
  flex: none;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

main {
  flex: 1 1 auto;
  min-height: auto;
}

.forms {
  padding-top: 70px;
  padding-bottom: 70px;
}

.form_text {
  .above_text {
    color: #242424;
    text-align: left;
    padding-bottom: 11px;
  }

  .title_h2 {
    color: #242424;
    text-align: left;
    padding-bottom: 34px;
  }

  .text {
    max-width: 464px;
    color: #242424;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
  }
}

.form_btn {
  margin-top: 60px;

  .btn_inner {
    float: right;
  }
}

.form_wrap {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.form_inner {
  display: flex;
  flex-direction: column;

  input {
    width: 250px;
  }

  textarea {
    width: 510px;
    min-height: 115px;
  }

  input,
  textarea {
    height: 50px;
    border-radius: 5px;
    border: 1px solid #242424;
    background-color: #ffffff;
    opacity: 0.3;
    margin-top: 10px;
  }

  label {
    color: #242424;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
  }
}

form {
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #242424;
}

.footer_line {
  background-color: #282828;
}

.footer_top {
  display: flex;
  padding-top: 70px;
  padding-bottom: 56px;
}

.footer_top_link {
  ul {
    li {
      list-style: none;

      &:not(:last-child) {
        padding-bottom: 24px;
      }

      span {
        &:not(:last-child) {
          padding-right: 15px;
        }
      }

      h4 {
        color: #ffffff;
        font-family: "Lato", sans-serif;
        font-size: 20px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
      }
    }
  }
}

.footer_top_nav {
  ul {
    li {
      a {
        color: #ffffff;
        font-family: "Montserrat", sans-serif;
        font-size: 15px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
        cursor: pointer;
      }
    }
  }
}

.footer_top_contacts {
  ul {
    li {
      display: flex;
      align-items: center;

      a {
        color: #ffffff;
        font-family: "Montserrat", sans-serif;
        font-size: 15px;
        font-weight: 300;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
      }
    }
  }
}

.footer_top_text {
  p {
    max-width: 276px;
    padding-bottom: 92px;
    padding-top: 15px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
  }
}

.footer_bottom {
  display: flex;
  align-items: center;
  padding-top: 56px;
  padding-bottom: 56px;
}

.socials {
  a {
    &:not(:last-child) {
      padding-right: 20px;
    }
  }
}

.footer_bottom_text {
  display: flex;
  align-items: center;

  span {
    padding-right: 15px;
  }

  .text-smaller {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
  }

  .text_bigger {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
  }
}
