.all_products {
  background-color: #f5f5f5;
  padding-top: 155px;
  overflow: hidden;

  &:before,
  &:after {
    content: "";
    position: absolute;
    z-index: 0;
    pointer-events: none;
  }

  &:before {
    top: 964px;
    left: -70px;
    width: 339px;
    height: 252px;
    transform: rotate(120deg);
    background: url("../img/form_bg.png") no-repeat center / contain;
  }

  &:after {
    top: 70px;
    left: 439px;
    width: 266px;
    height: 259px;
    transform: rotate(-110deg);
    background: url("../img/form_bg_blur.png") no-repeat center / contain;
  }

  .pagination {
    margin-top: 15px;
    margin-bottom: 170px;
  }
}

.product_title_box {
  padding-bottom: 100px;

  .above_title {
    color: #242424;
    text-align: center;
  }

  .title_h2 {
    color: #242424;
    text-align: center;
    text-transform: uppercase;
  }
}

.product_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;

  @media all and (max-width: 1025px) {
    &:after {
      content: "";
      flex: 1 1 33%;
      margin-left: 20px;
    }
  }

  .product_inner {
    background-color: #fff;
    margin-bottom: 84px;

    @media all and (max-width: 1400px) {
      margin-bottom: 50px;
      flex: 1 1 29%;

      & + .product_inner {
        margin-left: 20px;
      }

      &:nth-child(3n + 1) {
        margin-left: 0;
      }
    }

    @media all and (max-width: 1025px) {
      flex: 1 1 33%;
      margin-bottom: 20px;

      &:nth-child(3n + 1) {
        margin-left: 20px;
      }
    }

    @media all and (max-width: 767px) {
      flex: 1 1 100%;

      &:nth-child(3n + 1) {
        margin-left: 0;
      }

      & + .product_inner {
        margin-left: 0;
      }
    }
  }

  .name_box {
    border: 1px solid #707070;
    background-color: #242424;
    padding: 16px;
  }
}

.filter_wrap {
  width: 340px;
  margin-top: 185px;

  @media all and (max-width: 1400px) {
    width: 100%;
  }

  .line {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #eaeaea;

    .top_line {
      cursor: pointer;
      color: #000000;
      font-family: Montserrat;
      font-size: 15px;
      font-weight: 500;

      &:after {
        content: "";
        display: block;
        width: 25px;
        height: 25px;
        background: url("../img/plus_icon.svg") no-repeat center / contain;
      }
    }

    .inner {
      overflow: hidden;
      max-height: 0;
      transition: max-height 180ms;

      a {
        display: block;
        color: #000000;
        font-family: Montserrat;
        font-size: 15px;
        font-weight: 500;

        & + a {
          margin-top: 37px;
        }

        &:first-child {
          margin-top: 50px;
        }

        &:last-child {
          margin-bottom: 10px;
        }
      }
    }

    &.active {
      .top_line {
        font-weight: 700;

        &:after {
          background: url("../img/minus_icon.svg") no-repeat center / contain;
        }
      }

      .inner {
        transition: max-height 180ms;
        max-height: 500px;
      }
    }
  }
}
