.our_products {
  background-color: #f5f5f5;
  padding-bottom: 150px;

  h6 {
    color: #242424;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 25px;
  }

  a {
    color: #242424;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    display: block;

    &.big {
      font-size: 18px;
    }
    & + a {
      margin-top: 20px;
    }

    &.title {
      font-size: 20px;
      color: #242424;
      font-family: Roboto;
      font-weight: 500;
    }
  }
}

.wrap_title {
  padding-top: 150px;
  padding-bottom: 100px;

  .above_title {
    color: #242424;
    text-align: center;
  }

  .title_h2 {
    color: #242424;
    text-align: center;
    text-transform: uppercase;
  }
}

.wrap_link {
  .img_wrap {
    height: 304px;

    img {
      transition: transform 180ms;
      transform: scale(1);
    }

    &:hover {
      img {
        transition: transform 180ms;
        transform: scale(1.4);
      }
    }
  }
}
