.wrap_title {
  padding-top: 150px;
  padding-bottom: 100px;

  .above_title {
    color: #242424;
    text-align: center;
  }

  .title_h2 {
    color: #242424;
    text-align: center;
    text-transform: uppercase;
  }
}
