.main_top {
  background: url("../img/privat_product_top_bg.jpg") no-repeat center / cover;
}

.year_partners {
  padding-top: 50px;
  padding-bottom: 205px;

  .above_title,
  .title_h2 {
    text-align: center;
  }

  .title_h2 {
    margin-bottom: 90px;
  }

  .year_partners_slide {
    display: block;
    padding-bottom: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
    background-color: transparent;
    transition: background-color 180ms, box-shadow 180ms;

    .img_wrap {
      height: 304px;
      margin-bottom: 20px;
    }

    .client_logo {
      max-height: 37px;
      display: inline-block;
      text-align: left;
      width: auto;
      margin-left: 20px;
      margin-bottom: 20px;
    }

    p {
      opacity: 0;
      transition: opacity 180ms;
      color: #242424;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 20px;
      cursor: pointer;
    }

    .read_more {
      opacity: 0;
      transition: opacity 180ms;
      margin-left: 20px;
    }

    &:hover {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.16);
      background-color: #fff;
      transition: background-color 180ms, box-shadow 180ms;

      p,
      .read_more {
        opacity: 1;
        transition: opacity 180ms;
      }
    }
  }
}
