.main_top {
  background: url("../img/privat_product_top_bg.jpg") no-repeat center / cover;
}

.year_partners {
  padding-top: 50px;
  padding-bottom: 205px;

  .above_title,
  .title_h2 {
    text-align: center;
  }

  .title_h2 {
    margin-bottom: 90px;
  }

  .year_partners_slide {
      .img_wrap {
          
      }
  }
}
